[submodule "example/Micropython/firmware/lilygo-micropython"]
	path = example/Micropython/firmware/lilygo-micropython
	url = https://github.com/Xinyuan-LilyGO/lilygo-micropython.git
[submodule "example/Micropython/st7789_mpy"]
	path = example/Micropython/st7789_mpy
	url = https://github.com/russhughes/st7789_mpy.git
